extends layout

block content
    if (!user)
        h2= "Please login or register to use the app"
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        h1 Hello, #{user.username}!
        h3 Please use the above links to navigate this website.
