doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/updownvotes.css')
    body
        nav(class="navbar navbar-inverse")
            .hero
                img(src="/images/logo.png" style="height: 30%; width: 30%;")
            .container-fluid
                .navbar-header
                    a(class="navbar-brand" href="/") Information exchange app
                        
                ul(class="nav navbar-nav")
                    if (user)
                        li
                            a(href="/") Home
                        li
                            a(href="/questions/list") Your questions
                        li
                            a(href="/questions/ask") Ask a question
                    li
                        a(href="/users/ranking") Ranking
                if (user)
                    ul(class="nav navbar-nav")
                        form(class="navbar-form" role="search" action="/questions/search")
                            .input-group
                                input(type="text" class="form-control" name="searchText" size="50" placeholder="Find a question")
                                .input-group-btn
                                    button(class="btn btn-default" type="submit")
                                        i(class="glyphicon glyphicon-search")
                ul(class="nav navbar-nav navbar-right")
                    if (!user)
                        li
                            a(href="/register")
                                span(class="glyphicon glyphicon-user")  Register
                        li
                            a(href="/Login")
                                span(class="glyphicon glyphicon-log-in")  Login
                    if (user)
                        li
                            a Logged as #{user.username} 
                        li
                            a(href="/logout")
                                span(class="glyphicon glyphicon-log-out")  Logout
        .container-fluid
            if (error)
                .alert.alert-danger
                    strong() Error! 
                    | #{error.message}
            .col-xs-9
                block content
            .col-xs-3
                if(topQuestions)
                    .vertical-bar-container
                        each question in topQuestions
                            .ul
                                .li
                                    a(href="/questions/show/#{question._id}") #{question.title}
                                    .text-right #{question.views} views, posted on #{moment(question.dateAsked).format("DD.MM.YYYY")}

    // Libraries used
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src='/javascripts/libraries/moment.min.js')

    // Our own scripts
    script(src='/javascripts/points.js')
    script(src='/javascripts/edit-answer.js')
    script(src='/javascripts/mark-best.js')
