extends layout

block content
    h1 Register Page
    p.lead Please fill in the following information:
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
        .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username', required)
        .form-group
            input.form-control(type='password', name="password", placeholder='Password', required)
        .form-group
            input.form-control(type='password', name="passwordConfirm", placeholder='Confirm your password', required)
        .form-group
            input.form-control(type='email', name="email", placeholder='E-mail address', required)
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel
