extends ../layout

block content
    h1 Ask a new question
    p.lead Please provide a detailed question
    br
    form(role='form', action="/questions/ask",method="post", style='max-width: 60%;')
        .form-group
                input.form-control(type='text', name="title", placeholder='Enter a title for your question')
        .form-group
                textarea.form-control(type='text', rows="10", name="body", placeholder='Enter your detailed question here')
        .form-group
                input.form-control(type='text', name="tags", placeholder='Please enter some tags for your question, separated by a comma')
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
            button.btn.btn-primary(type="button") Cancel