extends ../layout

block content
    .row
        h1 #{foundQuestion.title}
        .text-right Views: #{foundQuestion.views}
        #questions
        pre #{foundQuestion.body}
        .col-xs-6
            if (foundQuestion.tags)
                each tag in foundQuestion.tags.split(',')
                    a(href="/questions/tag/#{tag}")
                        .tag-block #{tag}
        .col-xs-6
            .text-right
                .tag-block
                    |Asked by 
                    a(href='/users/#{foundQuestion.user.username}') #{foundQuestion.user.username}
                    br
                    |on #{moment(foundQuestion.dateAsked).format("DD.MM.YYYY")}

    h3 There are #{foundQuestion.answers.length} answers.
    input(type="hidden" value="#{foundQuestion._id}" id="qid")
    each answer in foundQuestion.answers
        hr
        div(class=answer.isBest? 'row green-bubble': 'row grey-bubble')
            if(answer.isBest)
                h4(style="text-align:center;") Best answer
            .col-xs-1
                .col-xs-offset-1
                    div(class="arrow-up", id="m_#{answer.answer._id}" name="btnPlus")
                    br
                    span(class="small-text" id="points_#{answer.answer._id}") #{answer.answer.points}
                    br
                    div(class="arrow-down", id="p_#{answer.answer._id}" name="btnMinus")
            .col-xs-11
                div(id="#{answer.answer._id}")
                    pre #{answer.answer.body}
                if (answer.answer.user.username == user.username)
                    edit-answer(id="edit_#{answer.answer._id}") edit 
                if (isCreator)
                    edit-answer(id="best_#{answer.answer._id}") mark as best
                .row
                    .col-xs-7
                        div(id="edited_#{answer.answer._id}")
                            if (answer.answer.lastModified)
                                .text-right edited on #{moment(answer.answer.lastModified).format("DD.MM.YYYY")} at #{moment(answer.answer.lastModified).format("HH:mm")}
                    .col-xs-5
                        .text-right
                            | Posted by 
                            a(href='/users/#{answer.answer.user.username} ') #{answer.answer.user.username} 
                            | on #{moment(answer.answer.datePosted).format("DD.MM.YYYY")} at #{moment(answer.answer.datePosted).format("HH:mm")}

    if (!answered)
        hr
        h3 Have a possible solution for this question? Post it now!
        br
        form(role='form', action="/questions/answer/" + foundQuestion.id, method="post", style='max-width: 75%;')
            .form-group
                textarea.form-control(type='text', rows="7", name="body", maxlength="2000", placeholder='Your answer here!')
            button.btn.btn-default(type='submit') Submit
