extends ../layout

block content
    if (source=="search")
        h2 Search results:
        if (questions.length == 0)
            h3 No questions found using the given criteria
    else if (source=="navbar")
        h2 Here are the questions asked by you:
        if (questions.length == 0)
            h3
                |You haven't asked any questions yet. Click 
                a(href="/questions/ask") here 
                |to ask your first question!
    else if (source.startsWith("tag"))
        h2 Here are the questions with tags like "#{source.slice(4)}":
        if (questions.length == 0)
            h3 No questions found which are tagged with "#{source.slice(4)}"
    else if (source.length>0)
        h2 Here are the questions asked by the user "#{source}":
        if (questions.length == 0)
            h3
                |#{source} hasn't asked any questions yet.

    #questions
    for question in questions
        include question