.question
    h3
        a(href='/questions/show/'+question.id) #{question.title}
    pre= question.body
    if (question.tags)
        each tag in question.tags.split(',')
            a(href="/questions/tag/#{tag}")
                .tag-block #{tag}
    if (source=="search")
        .text-right
            | Posted by 
            a(href='/users/#{question.user.username}') #{question.user.username} 
            | on #{moment(question.dateAsked).format("DD.MM.YYYY")} at #{moment(question.dateAsked).format("HH:mm")}