body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

pre {
    word-break: keep-all;
    white-space: pre-wrap;                 /* CSS3 browsers  */
    }

edit-answer {
    color: #FFA500;
    margin-left: 5px;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

edit-answer:hover {
    cursor:pointer;
}

.big-text {
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.small-text {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hero {
    background-color: #2ba6cb;
    border-radius: 3px;
    padding: 20px;
}

.tag-block {
    border-radius: 2px;
    padding: 5px;
    margin-left: 5px;
    background-color: #cce6ff;
    color: #666699;
    display: inline-block;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-bar-container {
    border-radius: 2px;
    padding: 5px;
    margin-left: 5px;
    border-style: outset;
    border-color: #D3D3D3;
}

.grey-bubble {
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 20px;
}

.green-bubble {
    background-color: #ADE27C;
    border-radius: 10px;
    padding: 20px;
}

.light-grey-bubble{
    background-color: #EBEBEB;
    border-radius: 10px;
    padding: 20px; 
}

.vertical-align {
    display: flex;
    align-items: center;
}
