.arrow-up {
  width: 0; 
  height: 0; 
  margin-top:2px;
  display: inline-block;
  cursor: pointer;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid green;
}

.arrow-down {
  width: 0; 
  height: 0; 
  margin-bottom:2px;
  display: inline-block;
  cursor: pointer;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent; 
  border-top: 7px solid red; 
}