extends ../layout

block content
    h1 Top 30 users by feedback received
    table(class="table table-striped")
        thead
            tr
                th Rank
                th Username
                th Score
        tbody
            each topUser in topUsers
                tr
                    td #{topUsers.indexOf(topUser) + 1}
                    td #{topUser.username}
                    td #{topUser.value}
